 *{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.751);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*head*/
.cruds{
    width: 80%;
    margin: auto;
}
.address{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
p{
    margin-top: 10px;
}
/*inputs*/
input{
    border: none;
    outline: none;
    margin: 5px;
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
}
input:focus{
    background-color: black;
    color: white;
    transform: scale(1.05);
}
.price{
    display: flex;
}
.price input{
    width: 20%;
}
#total{
    padding: 15px 2px;
    background-color: red;
    border-radius: 10px;
}
#total::before{
    content: 'Total : ';
}
button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(7, 7, 7);
    color: white;
    font-size:larger;
}
button:hover{
    background-color: rgba(7, 7, 7, 0.534);
    letter-spacing: 2px;
    transition: 0.7s;
}
.btnsearch{
    display: flex;
}
th,td{
    
    padding: 5px;
    
}
table{
    padding-top: 10px;
    width: 100%;
    text-align: center;
}
