body{
    background-color: rgb(0, 0, 0);
}
#head{
    color: rgb(44, 189, 212);
    margin-left: 70px;
    display: inline;
    width: 100%;
    height: 50%;
}
h1{
    color: white;
}
button{
    width: 100px;
    height: 30px;
    background-color: rgba(148, 21, 21, 0.985);
}

a{
    outline: none;
    text-decoration: none;
    color: rgb(243, 246, 245);
}
img{    
    margin-top: 5%;
    display: inline;
    width: 20%;
    height: 250px;
    border-radius: 50%;
    padding-left: 100px;
}
img:hover{
    width: 30%;
    height: 280px;
    border-radius: 70%;
    transition: 0.8s;
    cursor: pointer;
}
ul{
    margin-left: 40%;
}
ul li{
    display: inline;
    padding: 40px;
    font-size: 20px;
}
li:hover{
    cursor: pointer;
}
a:hover{
    color: aqua;
}
p{
    font-size: larger;
}
button:hover{
    cursor: pointer;
    width: 130px;
    height: 40px;
}